body {
    font-family: calibri, arial, sans-serif;
}

.options h2, h2.output-heading {
    font-size: 24pt;
    font-weight: normal;
}

.options {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;

    box-sizing: border-box;
    padding: 15px;
    background-color: #eee;
}

.options a {
    color: rgb(27, 161, 226);
    text-decoration: none;
}

.options h2 {
    margin: 0;
    padding: 0 0 15px 0;
    color: #777;
}

.options h3 {
    margin: 10px 0 0 0;
}

.options p {
    margin: 0;
}

.options .file-path {
    display: inline-block;
    width: 200px;
    background-color: #fff;
    border: none;
}

.options .action {
    display: inline-block;
    width: 50px;
}

.output {
    position: absolute;
    top: 0;
    left: 300px;
    right: 0;
    height: 100%;

    background-color: white;
}

.output .output-display {
    padding: 15px;
}

h2.output-heading {
    margin: 0;
    padding: 15px;
    background-color: #0072c3;
    color: #fff;
}

.action {
    color:  rgb(27, 161, 226);
    cursor: pointer;
}